.THIS {
}

/* Previous colors: #70BAB6, #538a87 */

.THIS .c-btn-rounded--turquoise {
    background-color: #F77E84;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.3em;
    padding: 10px 25px;
    margin-right: 15px;
    border-style: none;
    min-height: 70px;
}

.THIS .c-btn-rounded--turquoise:hover {
    background-color: #F27379;
}


.THIS .c-btn-rounded--turquoise span{
    font-size: 20px;
    color: white;
}

.THIS img {
    float: right;
    height: 60px;
}