<div style="margin: 0 auto;" >
    <p style="text-align: center;font-size: large;">Hello! There is a renewal pending on this policy.</p>
    <p style="text-align: center;font-size: large;">MTA's during this period are currently done by our underwriters.</p>
    <br>
    <p style="text-align: center;font-size: large;">Please contact the team on {{::$root.vlocity.getCustomLabel('EWDefaultUnderwriterPhone', '020 3319 8888')}} or&nbsp;<a href="mailto:{{::$root.vlocity.getCustomLabel('EWDefaultUnderwriterEmail', 'smarthome@azuruw.com')}}">{{::$root.vlocity.getCustomLabel('EWDefaultUnderwriterEmail', 'smarthome@azuruw.com')}}</a>&nbsp;to submit the MTA.</p>
    <br>
    <p style="text-align: center;font-size: large;">Thanks for choosing Azur's Smart Home product</p>
</div>