<div class="ins-os-product-rules-decline-wrapper" ng-controller="insOsProductRulesDeclineCtrl" ng-if="control.vlcSI[control.itemsKey]" ng-init="initProductRulesDecline(control)">
    <div class="ins-os-product-rules-decline-container">
        <div class="ins-os-product-rules-decline-card">
            <div class="slds-size--1-of-1 slds-m-bottom--medium">
                <h3><strong>Sadly, we cannot quote this risk &#128148; </strong></h3>
            </div>
        
            <div class="slds-grid slds-m-bottom--medium ins-os-product-rules-decline-rule" ng-repeat="p in control.vlcSI[control.itemsKey]">
                <div class="slds-max-small-size--1-of-6 slds-size--1-of-12 slds-m-top--xxx-small ins-os-product-rules-decline-rule-number"><span>{{$index + 1}}</span></div>
                <div class="slds-max-small-size--5-of-6 slds-size--11-of-12 ins-os-product-rules-decline-rule-details">
                    <p class="slds-m-bottom--none"><em>{{p.message}}</em></p>
                </div>
            </div>
        </div>
    </div>
</div>