html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

nav {
  position: relative;
  height: 100%;
  background-color: #2C363F;
  width: 300px;
  top: 0;
}
nav .policy-name {
  display: inline-block;
  color: #B8E4FA;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
}
nav .sidebar-content {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 15%;
}
nav .sidebar-content .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .sidebar-content .logo-wrapper .smartdocs-logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(transparent 0, transparent 35%, #3eb5d5 37%, #3eb5d5 45%, transparent 70%);
}
nav .sidebar-content .logo-wrapper .product-name {
  display: inline-block;
  color: #B8E4FA;
  font-weight: bold;
  font-size: 33px;
}
nav .sidebar-content .quick-links {
  color: #FFFFFF;
  font-size: 20px;
  margin: 30px 0;
}
nav .sidebar-content .quick-links .links-title {
  font-weight: bold;
  margin: 20px 0;
}
nav .sidebar-content .quick-links li {
  margin: 20px 0;
}
nav .sidebar-content .quick-links li a {
  color: #FFFFFF;
  cursor: pointer;
}
nav .sidebar-content .quick-links li a.currently-open-quicklink {
  color: #3EB5D5;
  font-weight: bold;
}
nav .azur-logo {
  width: 80%;
  position: absolute;
  bottom: 100px;
  left: 10%;
}
nav .policy-wording-link {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  display: block;
  position: absolute;
  bottom: 125px;
}
nav .ipid-link {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  display: block;
  position: absolute;
  bottom: 100px;
}
nav .policy-wording-link svg {
  margin: 0 0 3px 2px;
}