<template>
    <nav>
        <a href="https://www.azuruw.com/">
            <h1 class="policy-name">AZUR SMART HOME</h1>
        </a>
        <div class="sidebar-content">
            <div class="logo-wrapper">
                <div class="smartdocs-logo">
                    <div></div>
                </div>
                <h1 class="product-name">SmartDocs</h1>
            </div>
            <div class="quick-links">
                <h3 class="links-title">QUICK LINKS</h3>
                <ul>
                    <template
                        for:each={quickLinksArray}
                        for:item="quickLink"
                    >
                        <li key={quickLink.name}>
                            <template if:true={quickLink.currentlyOpen}>
                                <a
                                    class="currently-open-quicklink"
                                    data-value={quickLink.name}
                                    onclick={quickLinkClickEvent}
                                >{quickLink.name}</a>
                            </template>
                            <template if:false={quickLink.currentlyOpen}>
                                <a
                                    data-value={quickLink.name}
                                    onclick={quickLinkClickEvent}
                                >{quickLink.name}</a>
                            </template>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <a
            href="https://azur.b-cdn.net/wp-content/uploads/2020/11/Smart-Home-Policy-Wording-SMT.HME_.PW_.V1.3-bcf81ea5a7ebe7436111b8e0b06090ba.pdf"
            target="_blank"
            onclick={handleWordingLinkClick}
            class="policy-wording-link"
        >
            Policy Wording PDF
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="20"
                height="20"
                fill="#FFFFFF"
            >
                <path d="M 3 3 L 3 21 L 21 21 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 3 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z"></path>
            </svg>
        </a>
        <a
            href="https://azur.b-cdn.net/wp-content/uploads/2020/11/Smart-Home-IPID-SMT.HME_.IPID_.V1.1-366f249565b63a58f919f717985fdd72.pdf"
            target="_blank"
            onclick={handleIPIDLinkClick}
            class="ipid-link"
        >
              IPID PDF
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="20"
                height="20"
                fill="#FFFFFF"
            >
                <path d="M 3 3 L 3 21 L 21 21 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 3 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z"></path>
            </svg>
        </a>
    </nav>
</template>