.browser-warning {
    width: 100%;
    background-color: #D9A7B9;
    color: #682d42;
    font-size: 16px;
    padding: 20px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.browser-warning .warning-icon {
    font-size: 32px;
    width: 60px;
    margin-top: -2px;
}

.browser-warning .warning-dismiss {
    width: 60px;
    cursor: pointer;
}