<template>
    <div class="clause-notice">
        <p>The following clauses form part of your policy.</p>
        <p>Please ensure you comply with them in order for cover to remain
            valid</p>
    </div>
    <div
        for:each={displayedClauses}
        for:item="item"
        key={item.name}
    >
        <template if:false={item.accordionOpen}>
            <div
                class="accordion-header accordion-closed"
                data-id={item.name}
                onclick={handleAccordionClick}
            >{item.name}</div>
        </template>
        <template if:true={item.accordionOpen}>
            <div
                class="accordion-header accordion-open"
                data-id={item.name}
                onclick={handleAccordionClick}
            >{item.name}</div>
            <div class="accordion-body">
                <p>{item.appliesTo}</p>
                    <ul>
                        <li
                            for:each={item.sectionsApplied}
                            for:item="sectionApplied"
                            key={sectionApplied}
                        >{sectionApplied}</li>
                    </ul>
                <p>{item.clauseBody}</p>
            </div>
        </template>
    </div>
</template>