html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

.collapsible-wrapper {
  border-bottom: 1px solid #EBE4DC;
  cursor: pointer;
  width: 100%;
}
.collapsible-wrapper .link-heading {
  width: calc(100% - 30px);
  display: inline-block;
}
.collapsible-wrapper .link-arrow {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.collapsible-wrapper:hover {
  border-bottom: 1px solid black;
}
.collapsible-wrapper.collapsible-layer-1 .collapsible-heading {
  font-size: 30px;
  font-weight: 100;
  padding: 20px 0;
}
.collapsible-wrapper.collapsible-layer-1 .collapsible-subheading {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 20px;
}
.collapsible-wrapper.collapsible-layer-2 {
  margin-left: 50px;
  width: calc(100% - 50px);
}
.collapsible-wrapper.collapsible-layer-2 .collapsible-heading {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0;
}
.collapsible-wrapper.collapsible-layer-3 {
  margin-left: 50px;
  width: calc(100% - 50px);
}
.collapsible-wrapper.collapsible-layer-3 .collapsible-heading {
  font-size: 24px;
  font-weight: 100;
  padding: 20px 0;
}

.rich-text-container p {
  padding-bottom: 0.5em;
}
.rich-text-container strong {
  font-weight: bold;
}
.rich-text-container em {
  font-style: italic;
}
.rich-text-container .general-heading {
  font-size: 16px;
  color: #3EB5D5;
  text-transform: uppercase;
  font-weight: bold;
}
.rich-text-container ul, .rich-text-container ol {
  padding-left: 30px;
}
.rich-text-container ul li, .rich-text-container ol li {
  padding-bottom: 0.5em;
}
.rich-text-container ul {
  list-style: disc;
}
.rich-text-container ul li ul {
  list-style: circle;
}
.rich-text-container ul li ul li ul {
  list-style: square;
}
.rich-text-container ol {
  list-style: lower-latin;
}
.rich-text-container ol li ol {
  list-style: lower-roman;
}

p {
  line-height: 1.2em;
}

.rich-text-title {
  font-size: 20px;
  line-height: 2.5em;
}

.result-heading {
  font-size: 50px;
  font-weight: 100;
}

.large-heading {
  margin: 30px 0 0 0;
  font-size: 30px;
  line-height: 40px;
}
.large-heading .large-heading-title {
  font-weight: thin;
}
.large-heading .large-heading-content {
  font-weight: bold;
}

.sub-heading {
  margin: 30px 0;
  font-size: 21px;
  line-height: 1.5em;
}

.section-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 70px;
}

.section-header-leaf-child {
  text-align: right;
  margin-top: 0;
}

.subsection-header {
  font-size: 20px;
  margin-top: 20px;
}

.subsection-header-leaf-child {
  text-align: right;
  margin-top: 0;
}

.table-header {
  border-bottom: 1px solid black;
  margin: 10px 0;
}

.table-row {
  text-align: left;
}

.table-row-leaf-child {
  text-align: right;
  border-bottom: 1px solid black;
}

.excess {
  width: 500px;
  margin: 0 auto;
}
.excess p {
  margin-bottom: 10px;
}
.excess li {
  margin-bottom: 10px;
}

.thin-text {
  font-weight: 100;
}