<!-- On the whole, this file is getting quite fat for an HTML template. If
necessary in the future, can refactor a lot of this into subcomponents. -->
<template>
    <div
        class={itemData._class_name}
    >
        <!-- If the piece of data is a parent -->
        <template if:true={itemData._is_parent}>

            <!-- If the piece of data is a result heading
            eg. "Art and Collectables in total" -->
            <template if:true={itemData._is_result_heading}>
                <p class="result-heading">{itemData._name}</p>
            </template>

            <!-- If the piece of data is a large heading
            eg. "Sum Insured: £20,000.00" -->
            <template if:true={itemData._is_large_heading}>
                <p class="large-heading">{itemData._name}</p>
            </template>

            <!-- If the piece of data is to be rendered as an accordion -->
            <template if:true={itemData._is_accordion_item}>
                <template if:true={isAccordionWithSubheading}>
                    <c-ix_accordion-item
                        has-subheading={isAccordionWithSubheading}
                        item-title={itemData._name}
                        item-subheading={accordionSubheading}
                        item-value={accordionValue}
                        item-depth={itemData._branch_depth}
                        is-rich-text={itemData._is_rich_text}
                        is-parent={itemData._is_parent}
                        currently-selected-item={currentlySelectedItem}
                    ></c-ix_accordion-item>
                </template>
                <template if:false={isAccordionWithSubheading}>
                    <c-ix_accordion-item
                        item-title={itemData._name}
                        item-value={itemData._value}
                        item-depth={itemData._branch_depth}
                        is-rich-text={itemData._is_rich_text}
                        is-parent={itemData._is_parent}
                        currently-selected-item={currentlySelectedItem}
                    ></c-ix_accordion-item>
                </template>
            </template>

            <!-- If the piece of data is a subheading -->
            <template if:true={itemData._is_subheading}>
                <div if:true={itemData._is_rich_text}>
                    <div
                        lwc:dom="manual"
                        class="sub-heading rich-text-container"
                    ></div>
                </div>
                <div if:false={itemData._is_rich_text}>
                    <p class="sub-heading">{itemData._value}</p>
                </div>
            </template>

            <!-- If the piece of data is not special -->
            <template if:false={itemData._is_large_heading}>
                <template if:false={itemData._is_result_heading}>
                    <template if:false={itemData._is_accordion_item}>
                        <template if:false={itemData._is_subheading}>
                            <template if:false={itemData._is_link}>
                                <template if:false={itemData._is_hidden}>
                                    <p>{itemData._name}</p>
                                </template>
                            </template>
                        </template>
                    </template>
                </template>
            </template>

            <!-- Recursively render children, if not a link -->
            <template if:false={itemData._is_link}>
                <template if:false={itemData._is_accordion_item}>
                    <div
                        for:each={itemData._value}
                        for:item="subItem"
                        key={subItem._id}
                    >
                        <c-ix_data-item
                            item-data={subItem}
                            onlinkclick={dispatchLinkClick}
                            data-id={linkSubitemId}
                            currently-selected-item={currentlySelectedItem}
                        ></c-ix_data-item>
                    </div>
                </template>
            </template>

            <!-- If a link, render a link -->
            <template if:true={itemData._is_link}>
                <div
                    class={collapsibleClass}
                >
                    <h3
                        class="collapsible-heading link-heading"
                        onclick={dispatchLinkClick}
                        data-id={itemData._id}
                    >{itemData._name}</h3>
                    <svg class="link-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="80.000000pt" height="80.000000pt" viewBox="0 0 80.000000 80.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,80.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M500 623 c0 -10 46 -64 102 -120 l103 -103 -333 0 c-325 0 -332 0 -332 -20 0 -20 7 -20 332 -20 l333 0 -103 -103 c-98 -99 -122 -137 -84 -137 21 0 262 239 262 260 0 21 -241 260 -263 260 -9 0 -17 -8 -17 -17z"></path>
                        </g>
                    </svg>
                </div>
            </template>
        </template>

        <!-- If the piece of data is not a parent -->
        <template if:false={itemData._is_parent}>

            <!-- If the piece of data is a result heading
            eg. "Art and Collectables in total" -->
            <template if:true={itemData._is_result_heading}>
                <p
                    class="result-heading"
                >{itemData._name}: {itemData._value}</p>
            </template>

            <!-- If the piece of data is a large heading
            eg. "Sum Insured: £20,000.00" -->
            <template if:true={itemData._is_large_heading}>
                <div
                    class="large-heading"
                >
                    <h3 class="large-heading-title">{itemData._name}:</h3>
                    <h3 class="large-heading-content">{itemData._value}</h3>
                </div>
            </template>

            <!-- If the piece of data is an unfolding accordion item.
            eg. It is a paragraph of text. -->
            <template if:true={itemData._is_accordion_item}>
                <template if:true={isAccordionWithSubheading}>
                    <c-ix_accordion-item
                        has-subheading={isAccordionWithSubheading}
                        item-title={itemData._name}
                        item-subheading={accordionSubheading}
                        item-value={accordionValue}
                        item-depth={itemData._branch_depth}
                        is-rich-text={itemData._is_rich_text}
                        is-parent={itemData._is_parent}
                        currently-selected-item={currentlySelectedItem}
                    ></c-ix_accordion-item>
                </template>
                <template if:false={isAccordionWithSubheading}>
                    <c-ix_accordion-item
                        item-title={itemData._name}
                        item-value={itemData._value}
                        item-depth={itemData._branch_depth}
                        is-rich-text={itemData._is_rich_text}
                        is-parent={itemData._is_parent}
                        currently-selected-item={currentlySelectedItem}
                    ></c-ix_accordion-item>
                </template>
            </template>

            <!-- If the piece of data is a subheading -->
            <template if:true={itemData._is_subheading}>
                <div if:true={itemData._is_rich_text}>
                    <div
                        lwc:dom="manual"
                        class="sub-heading rich-text-container"
                    ></div>
                </div>
                <div if:false={itemData._is_rich_text}>
                    <p class="sub-heading">{itemData._value}</p>
                </div>
            </template>

            <!-- If a link, render a link -->
            <template if:true={itemData._is_link}>
                <div
                    class={collapsibleClass}
                >
                    <h3
                        class="collapsible-heading link-heading"
                        onclick={dispatchLinkClick}
                        data-id={itemData._id}
                    >{itemData._name}</h3>
                    <svg class="link-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="80.000000pt" height="80.000000pt" viewBox="0 0 80.000000 80.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,80.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M500 623 c0 -10 46 -64 102 -120 l103 -103 -333 0 c-325 0 -332 0 -332 -20 0 -20 7 -20 332 -20 l333 0 -103 -103 c-98 -99 -122 -137 -84 -137 21 0 262 239 262 260 0 21 -241 260 -263 260 -9 0 -17 -8 -17 -17z"></path>
                        </g>
                    </svg>
                </div>
            </template>

            <!-- If the piece of data is not special -->
            <template if:false={itemData._is_large_heading}>
                <template if:false={itemData._is_result_heading}>
                    <template if:false={itemData._is_accordion_item}>
                        <template if:false={itemData._is_subheading}>
                            <template if:false={itemData._is_hidden}>
                                <template if:false={itemData._is_link}>
                                    <p>{itemData._name}: {itemData._value}</p>
                                </template>
                            </template>
                        </template>
                    </template>
                </template>
            </template>
        </template>
    </div>
</template>