<script type="text/ng-template" id="iframe.html">

     <div ng-init="baseCtrl.setIPScope(this)"></div>
     <div ng-init="baseCtrl.setChecker(this)"></div>
     <div ng-init="baseCtrl.initListeners()"></div>
     <div ng-if="control.rootIndex === activeIndex" ng-init="baseCtrl.activateOnPageLeaveAlert()"></div>
       <iframe ng-if="bpTree.response.docId" id="docFrame" ng-show="src = bpTree.response.urlPrefix + '/apex/%vlocity_namespace%__ObjectDocumentCreation2?id='+bpTree.response.docId+'&templateId='+bpTree.response.templateId+'&documentName='+bpTree.response.documentName+'&contextId='+bpTree.response.documentParentId" id="obj-doc-creation-os-iframe" ng-src="{{src}}" style="width: 58%; border: none; display:none;"  height = "600px"  vloc-prop-set="{{control.propSetMap}}"  ng-init="clickGenerateButtonInIFrameOnloadFunc();"></iframe>
 </script>

<style>
.via-slds.via-omni div[msg=Warning] {background-color: #F77E84}
.via-slds.via-omni div[msg=Comment] {background-color: #04844b}

   #emailPolicy {background-color: #cccccc; pointer-events: none;}
   #viewPolicyAction {background-color: #cccccc; pointer-events: none;}
   #homeAction {background-color: #cccccc; pointer-events: none;}
</style>