<template>
    <template if:true={itemData}>
        <c-ix_content-display
            currently-selected-item={currentlySelectedItem}
            item-data={itemData}
            ondisplayresultingitem={displayResultingItem}
        ></c-ix_content-display>
    </template>
</template>