@font-face {
    font-family: "FS Elliot";
    src: url(../fonts/fs_elliot_web-regular.woff2) format("woff2"), url(../fonts/fs_elliot_web-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "FS Elliot";
    src: url(../fonts/fs_elliot_web-bold.woff2) format("woff2"), url(../fonts/fs_elliot_web-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "FS Elliot";
    src: url(../fonts/fs_elliot_web-light.woff2) format("woff2"), url(../fonts/fs_elliot_web-light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "FS Elliot";
    src: url(../fonts/fs_elliot_web-thin.woff2) format("woff2"), url(../fonts/fs_elliot_web-thin.woff) format("woff");
    font-weight: 100;
    font-style: normal
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background: #313c4b;
    font-family: 'FS Elliot', sans-serif
}

.biq-icon {
    vertical-align: middle
    display: block;
    position: relative
}

.biq-icon--mega {
    width: 220px;
    height: 220px
}

.biq-icon--maxi {
    width: 114px;
    height: 114px
}

.biq-icon--huge {
    width: 70px;
    height: 70px
}

.biq-icon--large {
    width: 60px;
    height: 60px
}

.biq-icon--medium {
    width: 40px;
    height: 40px
}

.biq-icon--small {
    width: 30px;
    height: 30px
}

.biq-icon--tiny {
    width: 20px;
    height: 20px
}

.biq-icon--micro {
    width: 15px;
    height: 15px
}

.biq-icon--nano {
    width: 8px;
    height: 12px
}

.biq-icon--inline {
    display: inline-block
}

.biq-icon--right {
    margin-left: 6px
}

.biq-icon--left {
    margin-right: 6px
}

.biq-c-btn-circle svg,
.biq-c-btn-icon svg,
.biq-u-centred {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.biq-c-btn,
.biq-c-btn-circle,
.biq-c-btn-composite,
.biq-c-btn-icon,
.biq-c-btn-rounded,
.biq-c-btn-tab,
.biq-c-btn-text,
.biq-c-site-header__button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    transition: .33333s;
    border-width: 0;
    position: relative;
    padding: 0;
    outline: 0;
    background-color: transparent
}

.biq-c-btn-circle,
.biq-c-btn-icon,
.biq-c-icon--circle {
    border-radius: 75%
}

.biq-c-btn-icon {
    display: block;
    position: relative;
    vertical-align: middle;
    width: 30px;
    height: 30px
}

.biq-c-btn-icon svg {
    width: 15px;
    height: 15px
}

.biq-c-btn-icon:hover {
    background: #252d36
}

.biq-c-btn-icon:hover svg {
    fill: #f2ede7
}

.biq-c-btn-icon--spaced {
    margin-right: 10px
}

.biq-u-bg-linen {
    background-color: #fbf6f0
}

.biq-u-bg-space {
    background-color: #2c363f
}

.biq-fill-white, .biq-u-fill-white {
    fill: #fff
}

.biq-c-copy {
    background: #f77e84;
    height: 60px;
    line-height: 60px;
}
