.via-slds {   
    .excluded-postcode {
        border: 1px solid #0070D2;
        background-color: #F8FBFE;
        color: #16325C;
        border-radius: 0.25rem;
        padding: 1.25rem 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.4;
        width : 100%;
    }
}