<template>
    <div class="main-wrapper" onscroll={handleScroll}>
        <c-ix_search-bar
            search-box-value={searchBoxValue}
            search-results={searchResults}
            onsearchinputchange={handleSearchInputChange}
            onoptionclick={handleOptionClick}
            onrefresh={handleRefresh}
        ></c-ix_search-bar>
        <div class="text-wrapper" if:false={searchBarUnactioned}>
            <template if:true={currentlySelectedItem}>
                <div class="back-to-search" onclick={handleBackToSearchClick}>
                    <svg class="link-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="20pt" height="20pt" viewBox="0 0 80.000000 80.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,80.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M142 517 c-67 -67 -122 -129 -122 -137 0 -21 241 -260 263 -260 37 0 13 39 -85 137 l-103 103 333 0 c325 0 332 0 332 20 0 20 -7 20 -332 20 l-333 0 103 103 c98 99 122 137 84 137 -9 0 -72 -55 -140 -123z"></path>
                        </g>
                    </svg>
                    <a>Back to search results</a>
                </div>
                <div class="text-body-content">
                    <div
                        if:true={displayBackBar}
                        class="back-bar"
                        onclick={handleBackBarClick}
                    >
                        <svg
                            class="back-bar-chevron"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                        >
                            <path d="M14 20c0.128 0 0.256-0.049 0.354-0.146 0.195-0.195 0.195-0.512 0-0.707l-8.646-8.646 8.646-8.646c0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0l-9 9c-0.195 0.195-0.195 0.512 0 0.707l9 9c0.098 0.098 0.226 0.146 0.354 0.146z"></path>
                        </svg>
                    </div>
                    <div class="content-body">
                        <template if:true={currentlySelectedItem}>
                            <c-ix_breadcrumbs
                                breadcrumbs-array={breadcrumbs}
                                onbreadcrumbclick={breadcrumbClick}
                            ></c-ix_breadcrumbs>
                        </template>
                        <!-- Annoyingly, LWCs don't seem to let you pass a public
                        method into a child component if the child component is
                        rendered conditionally. So this condition has to be
                        implemented into the component itself. -->
                        <c-ix_search-result
                            item-data={currentlySelectedItem}
                            ondisplayresultingitem={handleOptionClick}
                            currently-selected-item={currentlySelectedItem}
                        ></c-ix_search-result>
                    </div>
                </div>
            </template>
            <c-ix_general-info
                item-data={workingGeneralData}
            ></c-ix_general-info>
            <c-ix_answer-feedback
                search-query={searchBoxValue}
                item-data={currentlySelectedItem}
                onfeedbackclick={handleFeedbackClicked}
            ></c-ix_answer-feedback>
        </div>
    </div>
</template>