html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

.main-wrapper {
  position: relative;
  top: 0;
  height: 100%;
  overflow: scroll;
  background-color: #222930;
}

.text-wrapper {
  background-color: #F2EDE7;
  padding: 70px 100px;
}
.text-wrapper .back-to-search {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.text-wrapper .back-to-search .link-arrow {
  height: 20px;
  width: 20px;
  margin: 0 10px 3px 0;
}
.text-wrapper .back-to-search a {
  font-weight: bold;
  color: #000000;
}
.text-wrapper .text-body-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.text-wrapper .text-body-content .back-bar {
  width: 40px;
  background-color: #EBE4DC;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}
.text-wrapper .text-body-content .back-bar .back-bar-chevron {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.text-wrapper .text-body-content .back-bar:hover {
  background-color: #3EB5D5;
}
.text-wrapper .text-body-content .back-bar:hover .back-bar-chevron {
  fill: #FFFFFF;
}
.text-wrapper .text-body-content .content-body {
  margin: 0 0 0 40px;
  width: 100%;
}

input {
  width: 100%;
  font-size: 32px;
  display: block;
  padding: 10px;
  border: 4px solid #B8E4FA;
  border-radius: 5px;
  background-color: white;
}
input ::placeholder {
  color: #C7C5C2;
}

.dropdown {
  margin: 0;
  /* Make the border appear on 3 sides and not the bottom side */
  border-width: 4px 4px 0 4px;
  border-style: solid solid none solid;
  border-color: #313C4B #313C4B transparent #313C4B;
  border-radius: 5px;
  background-color: #2C363F;
}
.dropdown .dropdown-item {
  border-bottom: 4px solid #313C4B;
}
.dropdown .dropdown-item option {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 22px;
  padding: 5px;
  text-align: left;
  width: 100%;
}
.dropdown .selected {
  border-bottom: 4px solid white;
}

.accordion {
  width: 100%;
  /* Make the border appear on 3 sides and not the bottom side */
  border-width: 4px 4px 0 4px;
  border-style: solid solid none solid;
  border-color: #2C363F #2C363F transparent #2C363F;
  border-radius: 5px;
  background-color: #313C4B;
  margin-top: 50px;
}
.accordion .accordion-item .accordion-item-header {
  border-bottom: 4px solid #2C363F;
}
.accordion .accordion-item .accordion-item-header option {
  word-wrap: normal;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 22px;
  padding: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.accordion .accordion-item .accordion-item-header option span {
  justify-content: space-between;
  flex-direction: row;
}
.accordion .accordion-item .accordion-item-body {
  font-size: 16px;
  line-height: 1.2em;
  color: white;
  padding: 20px;
  background-color: #4f6179;
  border-bottom: 4px solid #2C363F;
  border-radius: 5px;
}

.one-step-answer {
  margin-top: 50px;
  color: white;
  font-size: 48px;
  width: 100%;
  text-align: center;
}

.no-match {
  color: white;
  width: 100%;
  text-align: center;
}