<!--
 - Created by andrewxu on 22/05/2020.
 -->

<!-- Ew Broker Network Banner -->
<template>
    <a href="https://hub.brokernetwork.co.uk/content/bn-exclusively-yours-facilities/bn-underwriting/bnu-personal-lines-products/azur-product-suite">
        <img src={imgUrl} />
    </a>
</template>