html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

.feedback-form-modal {
  max-width: 1000px;
  background-color: #2C363F;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5% auto;
  border-radius: 10px;
  color: #FFFFFF;
  position: absolute;
}
.feedback-form-modal .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.feedback-form-modal .close-modal svg {
  fill: #FFFFFF;
  width: 100%;
  height: 100%;
}
.feedback-form-modal .modal-content {
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 100px;
}
.feedback-form-modal .modal-content .form-question {
  line-height: 1.5em;
  margin-bottom: 130px;
  font-weight: 100;
}
.feedback-form-modal .modal-content .form-question .heading-wrapper {
  margin-bottom: 20px;
}
.feedback-form-modal .modal-content .form-question .heading-wrapper .question-heading {
  font-size: 24px;
}
.feedback-form-modal .modal-content .form-question .question-subheading {
  font-size: 18px;
  margin-bottom: 20px;
}
.feedback-form-modal .modal-content .form-question .rating-stars {
  color: #3EB5D5;
  font-size: 48px;
  text-align: center;
  line-height: 1em;
  height: 50px;
}
.feedback-form-modal .modal-content .form-question .rating-stars .star {
  cursor: pointer;
}
.feedback-form-modal .modal-content .form-question .form-input {
  border: 0px;
  border-bottom: 3px solid #3EB5D5;
  font-size: 24px;
  width: 100%;
  background: transparent;
  padding: 10px 0;
  color: #3EB5D5;
  font-weight: 100;
}
.feedback-form-modal .modal-content .form-question ::placeholder {
  color: #3EB5D5;
  opacity: 0.3;
}
.feedback-form-modal .modal-content .form-question .radio-button {
  border: 3px solid #3EB5D5;
  color: #3EB5D5;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.feedback-form-modal .modal-content .form-question .radio-button.currently-selected {
  background: #45556a;
}
.feedback-form-modal .modal-content .form-question .radio-button.currently-deselected:hover {
  background: #313C4B;
}
.feedback-form-modal .modal-content .submit-button {
  cursor: pointer;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #3EB5D5;
  color: #FFFFFF;
  margin: 0 auto;
  border: 0px;
  display: block;
}
.feedback-form-modal .modal-content .submit-button:hover {
  background: #2899b8;
}
.feedback-form-modal .modal-content .submission-validation-warning {
  display: block;
  text-align: center;
  height: 20px;
  margin: 10px;
}
.feedback-form-modal .modal-content .confirmation {
  margin-top: 15%;
}
.feedback-form-modal .modal-content .confirmation * {
  text-align: center;
  margin-bottom: 20px;
}
.feedback-form-modal .modal-content .confirmation .emoji {
  font-size: 72px;
}
.feedback-form-modal .modal-content .confirmation h1 {
  font-size: 48px;
  font-weight: bold;
}
.feedback-form-modal .modal-content .confirmation h3 {
  font-size: 36px;
}
.feedback-form-modal .modal-content .confirmation p {
  font-size: 24px;
  line-height: 1.5em;
}