<template>
    <div class="feedback-form-modal">
        <div class="close-modal" onclick={handleFeedbackClose}>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" >
                <path d="M10.707 10.5l5.646-5.646c0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0l-5.646 5.646-5.646-5.646c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l5.646 5.646-5.646 5.646c-0.195 0.195-0.195 0.512 0 0.707 0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l5.646-5.646 5.646 5.646c0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146c0.195-0.195 0.195-0.512 0-0.707l-5.646-5.646z"></path>
            </svg>
        </div>
        <div class="modal-content">
            <template if:false={formSubmitted}>
                <form>
                    <template
                        for:each={questions}
                        for:item="question"
                    >
                        <div class="form-question"
                            if:false={question.hide}
                            key={question.heading}
                        >
                            <div class="heading-wrapper">
                                <h3
                                    class="question-heading"
                                >{question.heading}</h3>
                                <template if:true={question.required}>
                                    <small
                                        class="required-wrapper"
                                    >(required)</small>
                                </template>
                            </div>
                            <h5 
                                if:true={question.subheading}
                                class="question-subheading"
                            >{question.subheading}</h5>
                            <template if:true={question.typeRating}>
                                <div class="rating-stars">
                                    <template for:each={ratingArray} for:item="star">
                                        <template if:true={star.glowing}>
                                            <span
                                                class="star"
                                                key={star.value}
                                                data-question={question.shortName}
                                                data-value={star.value}
                                                onclick={handleInputChange}
                                            >★</span>
                                        </template>
                                        <template if:false={star.glowing}>
                                            <span
                                                class="star"
                                                key={star.value}
                                                data-question={question.shortName}
                                                data-value={star.value}
                                                onclick={handleInputChange}
                                            >☆</span>
                                        </template>
                                    </template>
                                </div>
                            </template>
                            <template if:true={question.typeInput}>
                                <input
                                    class="form-input"
                                    data-question={question.shortName}
                                    oninput={handleInputChange}
                                    placeholder="Type your answer here..."
                                />
                            </template>
                            <template if:true={question.typeRadio}>
                                <template
                                    for:each={question.radioOptions}
                                    for:item="radioOption"
                                >
                                    <template
                                        if:true={radioOption.currentlySelected}
                                    >
                                        <div
                                            key={radioOption.optionShortName}
                                            data-question={question.shortName}
                                            data-value={radioOption.optionShortName}
                                            class="radio-button currently-selected"
                                            onclick={handleInputChange}
                                        >
                                            {radioOption.optionName}
                                        </div>
                                    </template>
                                    <template
                                        if:false={radioOption.currentlySelected}
                                    >
                                        <div
                                            key={radioOption.optionShortName}
                                            data-question={question.shortName}
                                            data-value={radioOption.optionShortName}
                                            class="radio-button currently-deselected"
                                            onclick={handleInputChange}
                                        >
                                            {radioOption.optionName}
                                        </div>
                                    </template>
                                </template>
                            </template>
                            <div class="submission-validation-warning">
                                <small if:true={question.showWarning}>
                                    ⚠️ This is a required field
                                </small>
                            </div>
                        </div>
                    </template>
                    <input
                        onclick={handleSubmit}
                        class="submit-button"
                        type="submit"
                    />
                    <div class="submission-validation-warning">
                        <small if:true={preventSubmit}>
                            ⚠️ Please complete all required fields
                        </small>
                        <small if:true={submitFailed}>
                            Sorry, we are unable to handle your request. Please try
                            again later.
                        </small>
                    </div>
                </form>
            </template>
            <template if:true={formSubmitted}>
                <div class="confirmation">
                    <div class="emoji">🙏</div>
                    <h1 class="thank-you-text">Thank you</h1>
                    <h3>Your information was sent perfectly.</h3>
                    <p>If requested, we will reply to your inquiry as soon as possible.
                        Thanks for using SmartDocs.</p>
                    <button
                        class="submit-button"
                        onclick={handleFeedbackClose}
                    >OK</button>
                </div>
            </template>
        </div>
    </div>
</template>