<div class="ins-os-product-rules-review-wrapper" ng-controller="insOsProductRulesReviewCtrl" ng-if="control.vlcSI">
    <div class="ins-os-product-rules-review-container">

        <div class="ins-os-product-rules-review-card">
            <div class="slds-max-small-size--5-of-6 slds-size--11-of-12 ins-os-product-rules-review-rule-details">
                <p class="slds-m-bottom--none"><em>Our data has suggested that this property is in a potential flood area so we have excluded flood pending the completion and approval of an Azur Flood Questionnaire. Please download flood questionnaire at the following web address: https://www.azuruw.com/downloads/ <br/> <br/>
Kindly send completed form to smarthome@azuruw.com so we can look to add flood cover to policy.
If this has been sent in and approved previously you can ignore this message.</em></p>
            </div>
        </div>
    </div>
</div>