<template>
    <div class="slds-m-top_medium slds-m-bottom_x-large">
        <template if:true={isLoading}>
            <h2 class="slds-text-heading_medium slds-m-bottom_medium">
                <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
            </h2>
        </template>
        <template if:true={shouldDisplay}>
            <template if:false={displayDetail}>
                <h3>Click on a row to see more detail.</h3>
            </template>
        </template>
        <template if:true={displayDetail}>
            <div class="top-panel">
                <template if:true={showPreview}>
                    <h1 class="slds-text-title_caps slds-text-title_bold">{previewLabel}</h1><br/>
                    <h3><lightning-formatted-rich-text value={recordPreview}></lightning-formatted-rich-text> </h3><br/>
                </template>
                <h1 class="slds-text-title_caps slds-text-title_bold">Title</h1><br/>
                <h3>{recordSubject}</h3><br/>
                <template if:true={showBody}>
                    <h1 class="slds-text-title_caps slds-text-title_bold">Body</h1><br/>
                    <h3><lightning-formatted-rich-text value={recordBody}></lightning-formatted-rich-text> </h3><br/>
                </template>
                <lightning-button variant="neutral" label={buttonLabel} onclick={handleButtonClick} class="slds-p-top_large"></lightning-button>
            </div>
        </template>
        <template if:true={shouldDisplay}>
            <div class="list-panel">
                <lightning-layout multiple-rows>
                    <lightning-layout-item size="12" style="padding-top: 1rem; padding-bottom: 1rem;">
                        <lightning-datatable columns={gridColumns} data={activityItems}
                            key-field="activityId" onrowaction={handleRowAction} onrowselection={handleRowAction} max-row-selection="1">
                        </lightning-datatable>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </template>
        <template if:false={shouldDisplay}>
            <h3>No activities to display at the moment.</h3>
        </template>
    </div>
</template>