.THIS .carousel-img {
    height: 100%;
    max-width: none;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (min-width:1700px) {
    .THIS .carousel-img {
        width: 100%;
    }
}