<apex:component controller="BrokerIqWebinarPreviewController" layout="block" >
    <apex:attribute name="webcastJson" assignTo="{!webcastJsonP}" required="true" type="String" description="JSON representation of the webinar"/>
    
    <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class='o-block o-block--left u-color-space u-margin-bottom-large@all'>
        
        <div class='o-ratio o-ratio--16:9'>
            <a class='o-ratio__content c-zoom' href="{!$Page.BrokerIqWebinars}?id={!thisWebcast.Id}">

                <span class='c-zoom__icon u-bg-{!thisWebcast.IQ_Content__r.Category__r.Colour__c}'>

                    <svg>
                    <use xlink:href="{!URLFOR($Resource.broker_iq, '/assets/images/sprite.svg#icon-desktop')}"></use>
                </svg>

            </span>
            <img class='c-zoom__image' src="{!IF(ISBLANK(thisWebcast.Preview_Image__c), URLFOR($Resource.broker_iq, thisWebcast.IQ_Content__r.Category__r.Placeholder_Image__c), thisWebcast.Preview_Image__c)}"/>
</a>
        </div>
        
        <div class='c-heading-line c-heading-line--short u-line-separator--bottom u-line-separator--dark u-margin-bottom-tiny@all'><div class='c-heading-line__icon'>
            <svg class='c-icon c-icon--tiny u-fill-space'>
                <use xlink:href="{!URLFOR($Resource.broker_iq, '/assets/images/sprite.svg#' + thisWebcast.IQ_Content__r.Category__r.Icon__c)}"></use>
            </svg>
            </div><div class='c-heading-line__text'>
            <span class='u-text-label u-color-{!thisWebcast.IQ_Content__r.Category__r.Colour__c}'>{!thisWebcast.IQ_Content__r.Category__r.Name}</span>
            </div></div>
        <a class='c-ui-link c-ui-link--color u-color-{!thisWebcast.IQ_Content__r.Category__r.Colour__c} u-margin-bottom-small@all u-text-large' href="{!$Page.BrokerIqWebinars}?id={!thisWebcast.Id}">
            {!thisWebcast.BrightTALK__Name__c}
        </a>
        <p class='u-text-medium'>
            <span class='u-bold'>
                <apex:outputText value="{0, date, d MMMM yyyy, HH:mm}">
                    <apex:param value="{!thisWebcast.BrightTALK__Start_Date__c}" /> 
                </apex:outputText>
            </span>
        </p>
    </div>
</apex:component>