.THIS {

}

.THIS .c-site-nav-left {
    text-align: left;
}

.THIS .contact-help-email {
    padding-right: 48px;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 25px;
    text-align: right;
}

.THIS .c-icon--tiny--smaller {
    width: 15px;
    height: 15px
}

.THIS .c-navlist-custom--help {
    line-height: 30px;
    padding-bottom: 0;
    color: black;
    font-weight: 300;
}