html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

.feedback-box {
  width: 700px;
  margin: 50px auto 0 auto;
  text-align: center;
}
.feedback-box button:focus {
  outline: 0;
}
.feedback-box .thumbs-up-and-down {
  margin: 20px 150px;
  justify-content: space-around;
}
.feedback-box .thumbs-up-and-down button {
  cursor: pointer;
  font-size: 36px;
  padding: 0;
  border: none;
  color: inherit;
  background-color: #EBE4DC;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 10px;
}
.feedback-box .thumbs-up-and-down button:hover {
  background-color: #B8E4FA;
  box-shadow: 4px 4px 10px grey;
}
.feedback-box .thumbs-up-and-down button .button-text {
  font-size: 16px;
  font-weight: bold;
}
.feedback-box .refresh-button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7d/Refresh_icon.svg);
  height: 40px;
  width: 40px;
  border: 0px;
  cursor: pointer;
  margin-top: 10px;
}

.feedback-textarea {
  width: 95%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid grey;
  font-size: 16px;
}
.feedback-textarea :focus {
  outline: 0;
}

.submit-feedback {
  width: 95%;
  display: block;
  margin: 10px auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid darkgrey;
  background-color: #313C4B;
  color: white;
}
.submit-feedback:hover {
  background-color: #222930;
}
.submit-feedback:disabled {
  background-color: grey;
  color: darkgrey;
  cursor: not-allowed;
}

.submission-confirmation {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.confirmation-emoji {
  font-size: 48px;
  text-align: center;
  margin: 20px;
}

.typeform-arrow {
  position: fixed;
  bottom: 20px;
  left: 320px;
  display: flex;
  flex-direction: row;
}
.typeform-arrow p {
  font-family: "Chilanka", cursive;
  width: 470px;
  margin-top: 20px;
  margin-left: -40px;
}
.typeform-arrow .close-typeform-arrow-button {
  margin-top: 10px;
  cursor: pointer;
}