<template>
    <template if:true={hasSubheading}>
        <div
            class={collapsibleClass}
            onclick={toggleAccordion}
        >
            <h3 class="collapsible-heading">{itemTitle}</h3>
            <h5 class="collapsible-subheading">{itemSubheading}</h5>
        </div>
    </template>
    <template if:false={hasSubheading}>
        <div
            class={collapsibleClass}
            onclick={toggleAccordion}
        >
            <h3 class="collapsible-heading">{itemTitle}</h3>
        </div>
    </template>
    <div if:true={accordionOpen}>
        <div if:false={hasSubheading}>
            <div if:true={isParent}>
                <div
                    for:each={itemValue}
                    for:item="subItem"
                    key={subItem._id}
                >
                    <c-ix_data-item
                        item-data={subItem}
                        onlinkclick={dispatchLinkClick}
                        data-id={linkSubitemId}
                        currently-selected-item={currentlySelectedItem}
                    ></c-ix_data-item>
                </div>
            </div>
            <div
                if:false={isParent}
                class={accordionBodyClass}
            >
                <div if:true={isRichText}>
                    <div
                        lwc:dom="manual"
                        class="rich-text-container"
                    ></div>
                </div>
                <div if:false={isRichText}>{itemValue}</div>
            </div>
        </div>
        <div if:true={hasSubheading} class={accordionBodyClass}>
            <div if:true={isRichText}>
                <lightning-formatted-rich-text
                    value={itemValue}
                ></lightning-formatted-rich-text>
            </div>
            <div if:false={isRichText}>{itemValue}</div>
        </div>
    </div>
</template>