/**
 * Created by bartoszdec on 20/03/2019.
 */
.THIS {
}

.THIS .ulListFAQLabel {
    font-weight: 700;
    _text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.THIS .ulListLi {
    margin-bottom: 30px
}

.THIS .ulListDiv {
    margin-top: 5px
}

.THIS .mainSection h2 {
    font-weight: bold;
    font-size: 20px;
}

.THIS .subsectionStyle h2 {
    font-weight: normal;
    font-size: 17px;
}

.THIS .insideHeader {
    font-weight: bold;
    font-size: 18px;
}