<div class="ins-os-product-rules-review-wrapper" ng-controller="insOsProductRulesReviewCtrl" ng-if="control.vlcSI[control.itemsKey]" ng-init="initProductRulesReview(control)">
    <div class="ins-os-product-rules-review-container">

        <div class="ins-os-product-rules-review-card">
            <div class="slds-size--1-of-1 slds-m-bottom--medium">
                <h3><strong>This risk has been referred, an underwriter needs to have a look and will come back to you shortly.</strong></h3>
            </div>

            <div class="slds-grid slds-m-bottom--medium ins-os-product-rules-review-rule" ng-repeat="p in control.vlcSI[control.itemsKey]">
                <div class="slds-max-small-size--1-of-6 slds-size--1-of-12 slds-m-top--xxx-small ins-os-product-rules-review-rule-number"><span>{{$index + 1}}</span></div>
                <div class="slds-max-small-size--5-of-6 slds-size--11-of-12 ins-os-product-rules-review-rule-details">
                      <p class="slds-m-bottom--none"><em>{{p.message}}</em></p>
                </div>
            </div>
        </div>
        <div class="slds-size--1-of-1 slds-m-bottom--medium">
            <h1 class="help-us-help-you"><strong>HELP US, HELP YOU!</strong></h1>
        </div>
    </div>
</div>