<template>
    <div class="background">
        <div class="content-wrapper">
            <img src={santaHatUrl}>
            <h1>YOUR CHRISTMAS WISHLIST</h1>
            <h2>What would you like to see next on the Broker Hub?</h2>
            <button>
                <a
                    href="https://azuruw.typeform.com/to/t35sLr"
                    target="_blank"
                >Let us know, let us know, let us know!</a>
            </button>
        </div>
        <div class="winter-is-coming">
            <div class="snow snow--near" style={snowLargeStyle}></div>
            <div class="snow snow--near snow--alt" style={snowLargeStyle}></div>
            <div class="snow snow--mid" style={snowMediumStyle}></div>
            <div class="snow snow--mid snow--alt" style={snowMediumStyle}></div>
            <div class="snow snow--far" style={snowSmallStyle}></div>
            <div class="snow snow--far snow--alt" style={snowSmallStyle}></div>
        </div>
    </div>
</template>