.content-wrapper {
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 100px;
}

.content-wrapper img {
    width: 35px;
    height: 25px;
    position: relative;
    left: -132px;
    bottom: -15px;
    display: inline-block;
}

.content-wrapper h1 {
    font-weight: 800;
    margin-bottom: 0;
}

.content-wrapper button {
    color: #252d36;
    margin-bottom: 40px;
    font-size: 24px;
    padding: 10px 40px;
    border-radius: 999px;
    background-color: #b8e4fa;
    border: 0px;
}

.content-wrapper h3 {
    font-weight: 800;
}

.background {
    height: 400px;
    position: relative;
    background: #252d36;
    border-radius: 30px;
    margin-bottom: 50px;
}

.winter-is-coming, .snow {
    z-index: 0;
    pointer-events: none;
}
.winter-is-coming {
    overflow: hidden;
    height: 400px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
}
.snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: falling linear infinite both;
    transform: translate3D(0, -100%, 0);
}
.snow--near {
    animation-duration: 10s;
    background-size: contain;
}
.snow--near + .snow--alt {
    animation-delay: 5s;
}
.snow--mid {
    animation-duration: 20s;
    background-size: contain;
}
.snow--mid + .snow--alt {
    animation-delay: 10s;
}
.snow--far {
    animation-duration: 30s;
    background-size: contain;
}
.snow--far + .snow--alt {
    animation-delay: 15s;
}
@keyframes falling {
    0% {
        transform: translate3D(-7.5%, -100%, 0);
   }
    100% {
        transform: translate3D(7.5%, 100%, 0);
   }
}