<template>
    <template if:true={itemData}>
        <div class="data-item-wrapper">
            <h3 class="general-heading">
                THE GENERAL CONDITIONS AND GENERAL EXCLUSIONS APPLY ACROSS THE WHOLE POLICY:
            </h3>
            <template for:each={itemData} for:item='eachItem'>
                <c-ix_content-display
                    key={eachItem._id}
                    item-data={eachItem}
                ></c-ix_content-display>
            </template>
        </div>
    </template>
</template>