<div id='{{::child.name}}'
     class="slds-box vlc-slds-remote-action__container somethingNotRight"
     ng-if='child.ui.show && child.ui.error'>

    <div class="vlc-slds-remote-action__content" ng-if='!loading && child.ui.error'>
        
        <p ng-if='child.ui.preTransform'>{{::customLabels.OmniPreTransform}}</p>
        <p ng-if='child.ui.postTransform'>{{::customLabels.OmniPostTransform}}</p>

        <p><b>Something isn't right, please try again</b></p>
        <p>If the problem persists please contact us at help@azuruw.com</p>

        <div style="text-align:center;">
            <button class="slds-button slds-button--neutral"
                    ng-if='child.ui.error'
                    ng-click='cancel()'>
                Ok
            </button>
        </div>

    </div>

</div>