<script type="text/ng-template" id="iframe.html">

     <div ng-init="baseCtrl.setIPScope(this)"></div>
     <div ng-init="baseCtrl.setChecker(this)"></div>
 
       <iframe ng-if="bpTree.response.docId" ng-show="src = bpTree.response.urlPrefix + '/apex/%vlocity_namespace%__ObjectDocumentCreationNew?id='+bpTree.response.docId+'&templateId='+bpTree.response.templateId+'&documentName='+bpTree.response.documentName+'&contextId='+bpTree.response.documentParentId" id="obj-doc-creation-os-iframe" ng-src="{{src}}" style="width: 100%; border: none;" height="125px" vloc-prop-set="{{control.propSetMap}}" ng-init="clickGenerateButtonInIFrameOnloadFunc();"></iframe>

 </script>

<style>
.via-slds.via-omni div[msg=Warning] {background-color: #F77E84}
.via-slds.via-omni div[msg=Comment] {background-color: #04844b}

   #emailQuote {background-color: #cccccc; pointer-events: none;}
   #emailBrokerQuote {background-color :  #cccccc; pointer-events: none;}
   #emailBrokerCentralMailboxQuote {background-color :  #cccccc; pointer-events: none;}
   #bind {background-color :  #3EB5D5;}
   #viewQuoteAction {background-color: #cccccc; pointer-events: none;}
   #DA_BindQuote {background-color :  #3EB5D5;}
   #DA_UWBindQuote {background-color :  #3EB5D5;}
</style>