.THIS {
}

.THIS .c-header-links {
    padding-left: 29px;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.THIS .c-site-nav-bg {
    position: absolute;
    height: 100px;
    background-color: #2c363f;
    width: 100%;
    z-index: 3;
}

.THIS .c-select-nav__list:hover {
    display: inline-block;
}