.THIS #transparent {

    opacity: 0.5;
    z-index: 0;
}

.THIS #loginDiv {
    position: absolute;
    width: 85%;
    margin-top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}