<template>
    <div class="terms-agreement-box">
        <div class="header">
            <div
                class="back-link"
                onclick={handleBackLink}
            >
                <svg class="link-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="20pt" height="20pt" viewBox="0 0 80.000000 80.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,80.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                        <path d="M142 517 c-67 -67 -122 -129 -122 -137 0 -21 241 -260 263 -260 37 0 13 39 -85 137 l-103 103 333 0 c325 0 332 0 332 20 0 20 -7 20 -332 20 l-333 0 103 103 c98 99 122 137 84 137 -9 0 -72 -55 -140 -123z"></path>
                    </g>
                </svg>
                <span>Back</span>
            </div>
            <h1>One quick thing!</h1>
            <h1>Please agree to our SmartDocs terms of use to proceed.</h1>
        </div>
        <div class="body">
            <c-ix_content-display
                item-data={workingTermsData}
            ></c-ix_content-display>
        </div>
        <div class="footer">
            <a
                onclick={handleTermsAgree}
            >I agree to these terms</a>
            <h3>You can refer back to these by clicking 'Terms of Use' in the
                left panel</h3>
        </div>
    </div>
</template>