html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

.terms-agreement-box {
  max-width: 1000px;
  margin: 50px auto;
  background-color: #FFFFFF;
  opacity: 1;
  font-weight: 100;
  padding: 30px;
  border-radius: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.terms-agreement-box .header {
  text-align: center;
  position: relative;
}
.terms-agreement-box .header > * {
  padding-bottom: 10px;
}
.terms-agreement-box .header .back-link {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.terms-agreement-box .header .back-link span {
  font-size: 20px;
}
.terms-agreement-box .header .back-link svg {
  margin-right: 5px;
}
.terms-agreement-box .header .back-link .link-arrow {
  margin: 0 5px 3px 0;
}
.terms-agreement-box .header h1 {
  font-size: 36px;
}
.terms-agreement-box .body {
  flex: "flex-grow";
  overflow: scroll;
  margin-bottom: 20px;
}
.terms-agreement-box .footer {
  text-align: center;
  padding-top: 20px;
}
.terms-agreement-box .footer a {
  font-weight: bold;
  background-color: #3EB5D5;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}
.terms-agreement-box .footer a :hover {
  background-color: #B8E4FA;
}
.terms-agreement-box .footer a:hover {
  background-color: #B8E4FA;
}
.terms-agreement-box .footer h3 {
  font-size: 21px;
  margin-top: 30px;
}