<template>
    <div class="form-wrapper">
        <template if:false={formSubmitted}>
            <div class="back-button">
                <a onclick={goBack}>← Back</a>
            </div>
            <div class="logo-wrapper">
                <img
                    src="https://storage.pardot.com/194892/76665/broker_hub_logo.png"
                >
                <span>BROKER HUB</span>
            </div>
            <h2>A member of our team will call to discuss if our Broker Hub
                products could be right for you.</h2>
            <div if:true={displayError} class="error-box">
                <div class="svg-wrapper">
                    <svg class="warning">
                        <path class="black" d="M16.218 3.782C14.424 1.988 12.038 1 9.5 1s-4.923.988-6.718 2.782S0 7.962 0 10.499s.988 4.923 2.782 6.718 4.18 2.782 6.718 2.782 4.923-.988 6.718-2.782S19 13.037 19 10.499s-.988-4.923-2.782-6.717zM9.5 19C4.813 19 1 15.187 1 10.5S4.813 2 9.5 2c4.687 0 8.5 3.813 8.5 8.5S14.187 19 9.5 19z"></path>
                        <path class="black" d="M9.5 18a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 1 0v1a.5.5 0 0 1-.5.5zm0-3a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 1 0v10a.5.5 0 0 1-.5.5z"></path>
                    </svg>
                </div>
                <div class="text-wrapper">
                    <div class="error-title">Whoops!</div>
                    {errorMessage}
                </div>
            </div>
            <form>
                <div class="input-wrapper">
                    <label for="name">Name
                        <span class="asterix"> *</span>
                    </label>
                    <input
                        type="text"
                        id="name"
                        data-value={answers.name}
                        data-question="name"
                        oninput={handleInputChange}
                    >
                </div>
                <div class="input-wrapper">
                    <label for="role">Role
                        <span class="asterix"> *</span>
                    </label>
                    <input
                        type="text"
                        id="role"
                        data-question="role"
                        oninput={handleInputChange}
                    >
                </div>
                <div class="input-wrapper">
                    <label for="company">Your Company Name
                        <span class="asterix"> *</span>
                    </label>
                    <input
                        type="text"
                        id="company"
                        data-question="company"
                        oninput={handleInputChange}
                    >
                </div>
                <div class="input-wrapper">
                    <label for="location">Location
                        <span class="asterix"> *</span>
                    </label>
                    <input
                        type="text"
                        id="location"
                        data-question="location"
                        oninput={handleInputChange}
                    >
                </div>
                <div class="input-wrapper input-flex-wrapper">
                    <div class="input-flex-item">
                        <label for="phone">Contact Number
                            <span class="asterix"> *</span>
                        </label>
                        <input
                            type="text"
                            id="phone"
                            data-question="phone"
                            oninput={handleInputChange}
                        >
                    </div>
                    <div class="input-flex-item">
                        <label for="email">Email
                            <span class="asterix"> *</span>
                        </label>
                        <input
                            type="text"
                            id="email"
                            data-question="email"
                            oninput={handleInputChange}
                        >
                    </div>
                </div>
                <button
                    class="submit-button"
                    onclick={handleSubmit}
                >Submit</button>
            </form>
        </template>
        <template if:true={formSubmitted}>
            <svg class="form-submit-check" fill="white">
                <g>
                    <path d="M5273.1,2400.1v-2c0-2.8-5-4-9.7-4s-9.7,1.3-9.7,4v2c0,1.8,0.7,3.6,2,4.9l5,4.9c0.3,0.3,0.4,0.6,0.4,1v6.4     c0,0.4,0.2,0.7,0.6,0.8l2.9,0.9c0.5,0.1,1-0.2,1-0.8v-7.2c0-0.4,0.2-0.7,0.4-1l5.1-5C5272.4,2403.7,5273.1,2401.9,5273.1,2400.1z      M5263.4,2400c-4.8,0-7.4-1.3-7.5-1.8v0c0.1-0.5,2.7-1.8,7.5-1.8c4.8,0,7.3,1.3,7.5,1.8C5270.7,2398.7,5268.2,2400,5263.4,2400z"></path>
                    <path d="M5268.4,2410.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5268.4z"></path>
                    <path d="M5272.7,2413.7h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2414.1,5273.3,2413.7,5272.7,2413.7z"></path>
                    <path d="M5272.7,2417h-4.3c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h4.3c0.6,0,1-0.4,1-1C5273.7,2417.5,5273.3,2417,5272.7,2417z"></path>
                </g>
                <path d="M37.1,81.3c-0.5,0-1.1-0.2-1.5-0.6L3.1,48.2c-0.8-0.8-0.8-2.2,0-3c0.8-0.8,2.2-0.8,3,0l30.9,30.9l56.7-56.7    c0.8-0.8,2.2-0.8,3,0s0.8,2.2,0,3L38.6,80.6C38.2,81.1,37.7,81.3,37.1,81.3z"></path>
            </svg>
            <h1>Thank you for your interest in the Broker Hub</h1>
            <div class="website-link">
                <a href="https://www.azuruw.com/">
                    BACK TO OUR WEBSITE
                </a>
            </div>
        </template>
    </div>
</template>