.form-wrapper {
    background-color: #313c4b;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 50px;
    
}

.back-button {
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
}

.back-button a {
    color: white;
}

.back-button :hover {
    color: #3eb5d5;
}

.logo-wrapper {
    font-weight: 900;
    margin-bottom: 20px;
}

.logo-wrapper span {
    font-size: 24px;
    padding-left: 10px;
    margin-top: 10px;
}

h1 {
    font-weight: 900;
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
}

.error-box {
    background-color: #f77e84;
    color: black;
    border-radius: 20px;
    padding: 15px 35px;
    width: 450px;
    margin: 0 auto;
    text-align: left;
    display: flex;
}

.error-box .error-title {
    font-weight: 900;
}

.error-box .svg-wrapper {
    margin-right: 10px;
}

.error-box .svg-wrapper .warning {
    fill: black;
    height: 20px;
    width: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.input-wrapper {
    margin: 20px;
}

.input-flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-flex-item {
    width: 48%;
}

input, label {
    display: block;
    font-size: 14px;
}

input {
    color: black;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    padding: 0 15px;
    border: 0px;
}

label {
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
}

.submit-button {
    padding: 16px 24px;
    color: white;
    text-transform: uppercase;
    background-color: #252d36;
    border: 0px;
    font-weight: 800;
    border-radius: 999px;
    font-size: 18px;
    margin-top: 20px;
    animation-name: revert-button;
    animation-duration: 0.3s;
}

.submit-button:hover {
    color: #252d36;
    background-color: white;
    animation-name: inverse-button;
    animation-duration: 0.3s;
}

@keyframes inverse-button {
    from {
        color: white;
        background-color: #252d36;
    }
    to {
        color: #252d36;
        background-color: white;
    }
}

@keyframes revert-button {
    from {
        color: #252d36;
        background-color: white;
    }
    to {
        color: white;
        background-color: #252d36;
    }
}

label .asterix {
    color: #3eb5d5;
}

.form-submit-check {
    width: 95px;
    height: 150px;
}

.website-link {
    font-weight: 800;
    margin-top: 100px;
    font-size: 18px;
}

.website-link a {
    color: white;
}