<template>
    <div class="background"></div>
    <div class="analytics-wrapper">
        <button data-value=7 onclick={handleButtonClick}>Last 7 Days</button>
        <button data-value=14 onclick={handleButtonClick}>Last 14 Days</button>
        <button data-value=30 onclick={handleButtonClick}>Last 30 Days</button>
        <button onclick={handleButtonClick}>All-time</button>
        <button onclick={handleFeedbacks}>Feedback Form Results (All-time)</button>
    </div>
    <div if:false={showGeneralAnalytics} class="analytics-wrapper">
        <template if:false={dataLoaded}>
            <h1 class="loading-text">Loading...</h1>
        </template>
        <template if:true={dataLoaded}>
            <table class="info-table">
                <tr>
                    <th class="three-tenths borders padded">User Name</th>
                    <th class="four-tenths borders padded">Form Response</th>
                    <th class="three-tenths borders padded">Time and Date</th>
                </tr>
            </table>
            <div class="less-limited-height">
                <table class="info-table">
                    <template for:each={feedbackForms} for:item="event">
                        <tr key={event.key}>
                            <td class="three-tenths padded">
                                {event.CreatedBy.Name}
                            </td>
                            <td class="four-tenths padded">
                                <template
                                    for:each={event.Event_Data__c}
                                    for:item="question"
                                >
                                    <div
                                        key={question.name}
                                    >{question.name}: <strong>
                                        {question.value}
                                    </strong></div>
                                </template>
                            </td>
                            <td class="three-tenths padded">
                                {event.createdDate}
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
        </template>
    </div>
    <div if:true={showGeneralAnalytics} class="analytics-wrapper">
        <p>Showing {currentNumberOfDays}</p>
        <template if:false={dataLoaded}>
            <h1 class="loading-text">Loading...</h1>
        </template>
        <template if:true={dataLoaded}>
            <h3>Session-level Information</h3>
            <table class="info-table">
                <tr>
                    <td class="half-width">Total Sessions</td>
                    <td>{totalSessions}</td>
                </tr>
                <tr>
                    <td class="half-width">Total Bounces</td>
                    <td>{totalBounces}</td>
                </tr>
                <tr>
                    <td class="half-width">Bounce Rate</td>
                    <td>{bounceRate}</td>
                </tr>
            </table>
            <h3>Search Information</h3>
            <table class="info-table">
                <tr>
                    <td class="half-width">Total Searches</td>
                    <td>{totalSearches}</td>
                </tr>
            </table>
            <table class="info-table">
                <tr>
                    <td class="half-width">Total Successful Searches</td>
                    <td>
                        {totalSuccessfulSearches} ({successfulSearchPercentage})
                    </td>
                </tr>
                <tr>
                    <td class="half-width">Total Unsuccessful Searches</td>
                    <td>
                        {totalUnsuccessfulSearches} ({unsuccessfulSearchPercentage})
                    </td>
                </tr>
                <tr>
                    <td class="half-width">Total Indecisive Searches</td>
                    <td>
                        {totalIndecisiveSearches} ({indecisiveSearchPercentage})
                    </td>
                </tr>
            </table>
            <h3>Feedback Information</h3>
            <table class="info-table">
                <tr>
                    <td class="half-width">Total Thumbs Up</td>
                    <td>{totalThumbsUp}</td>
                </tr>
                <tr>
                    <td class="half-width">Total Thumbs Down</td>
                    <td>{totalThumbsDown}</td>
                </tr>
            </table>
            <table class="info-table">
                <tr>
                    <td class="half-width">Thumbs Up as % of Searches</td>
                    <td>{thumbsUpPercentage}</td>
                </tr>
                <tr>
                    <td class="half-width">Thumbs Down as % of Searches</td>
                    <td>{thumbsDownPercentage}</td>
                </tr>
            </table>
            <h3>Users' Information</h3>
            <table class="info-table">
                <tr>
                    <td class="half-width">Total Unique Visitors</td>
                    <td>{totalUniqueUsers}</td>
                </tr>
            </table>
            <table class="info-table">
                <tr>
                    <td class="half-width">Unique Visitors' Names</td>
                    <td>
                        <template
                            for:each={totalUniqueUsersNames}
                            for:item="userName"
                        >
                            <div key={userName}>{userName}</div>
                        </template>
                    </td>
                </tr>
            </table>
            <table class="info-table">
                <tr>
                    <td class="half-width">Total Unique Brokerages</td>
                    <td>{totalUniqueBrokerages}</td>
                </tr>
            </table>
            <table class="info-table">
                <tr>
                    <td class="half-width">Unique Brokerages' Names</td>
                    <td>
                        <template
                            for:each={totalUniqueBrokeragesNames}
                            for:item="brokerageName"
                        >
                            <div key={brokerageName}>{brokerageName}</div>
                        </template>
                    </td>
                </tr>
            </table>
            <h3>Successful Searches</h3>
            <p>Where the user has either : typed in a search query, and clicked a
                result; or clicked "Back To Search Results", and clicked a result.
            </p>
            <table class="info-table">
                <tr>
                    <th class="one-quarter borders padded">User Name</th>
                    <th class="one-quarter borders padded">Query Text</th>
                    <th class="one-quarter borders padded">
                        Dropdown Item Selected
                    </th>
                    <th class="one-quarter borders padded">Time and Date</th>
                </tr>
            </table>
            <div class="limited-height">
                <table class="info-table">
                    <template for:each={successfulSearches} for:item="event">
                        <tr key={event.key}>
                            <td class="one-quarter padded">{event.userName}</td>
                            <td class="one-quarter padded">{event.text}</td>
                            <td class="one-quarter padded">
                                {event.dropdownSelection}
                            </td>
                            <td class="one-quarter padded">{event.createdDate}</td>
                        </tr>
                    </template>
                </table>
            </div>
            <h3>Unsuccessful Searches</h3>
            <p>Where the user has typed in a search query, then either cleared the
                search bar, closed the tab or window, or navigated to a different
                part of the BrokerHub or to the website.</p>
            <table class="info-table">
                <tr>
                    <th class="three-tenths borders padded">User Name</th>
                    <th class="four-tenths borders padded">Search Query</th>
                    <th class="three-tenths borders padded">Time and Date</th>
                </tr>
            </table>
            <div class="limited-height">
                <table class="info-table">
                    <template for:each={unsuccessfulSearches} for:item="event">
                        <tr key={event.key}>
                            <td class="three-tenths padded">{event.userName}</td>
                            <td class="four-tenths padded">{event.text}</td>
                            <td class="three-tenths padded">{event.createdDate}</td>
                        </tr>
                    </template>
                </table>
            </div>
            <h3>Indecisive Searches</h3>
            <p>Where the user has typed in a search query, and was idle for at least
                3 seconds before altering the query text.</p>
            <table class="info-table">
                <tr>
                    <th class="three-tenths borders padded">User Name</th>
                    <th class="four-tenths borders padded">Search Query</th>
                    <th class="three-tenths borders padded">Time and Date</th>
                </tr>
            </table>
            <div class="limited-height">
                <table class="info-table">
                    <template for:each={indecisiveSearches} for:item="event">
                        <tr key={event.key}>
                            <td class="three-tenths padded">{event.userName}</td>
                            <td class="four-tenths padded">{event.text}</td>
                            <td class="three-tenths padded">{event.createdDate}</td>
                        </tr>
                    </template>
                </table>
            </div>
            <h3>Sessions by Brokerage</h3>
            <p>The number of unique sessions sorted by brokerage.</p>
            <table class="info-table">
                <tr>
                    <th class="half-width borders padded">Brokerage</th>
                    <th class="half-width borders padded">Number of Sessions</th>
                </tr>
            </table>
            <div class="limited-height">
                <table class="info-table">
                    <template for:each={totalSessionsByBrokerage} for:item="event">
                        <tr key={event.key}>
                            <td class="half-width padded">{event.name}</td>
                            <td class="half-width padded">
                                {event.totalSessions}
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
            <h3>Search Term Frequency</h3>
            <p>The number of time each term has been searched, case insensitive.</p>
            <table class="info-table">
                <tr>
                    <th class="half-width borders padded">Search Term</th>
                    <th class="half-width borders padded">Number of Searches</th>
                </tr>
            </table>
            <div class="limited-height">
                <table class="info-table">
                    <template for:each={totalSearchesByTerm} for:item="event">
                        <tr key={event.term}>
                            <td class="half-width padded">{event.term}</td>
                            <td class="half-width padded">
                                {event.frequency}
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
            <h3>All Interactions</h3>
            <table class="info-table">
                <tr>
                    <th class="one-fifth borders padded">User Name</th>
                    <th class="one-fifth borders padded">Action</th>
                    <th class="one-fifth borders padded">Interacted Item</th>
                    <th class="one-fifth borders padded">Description</th>
                    <th class="one-fifth borders padded">Time and Date</th>
                </tr>
            </table>
            <div class="less-limited-height">
                <table class="info-table">
                    <template for:each={uiEvents} for:item="event">
                        <tr key={event.key}>
                            <td class="one-fifth padded">{event.userName}</td>
                            <td class="one-fifth padded">{event.action}</td>
                            <td class="one-fifth padded">{event.data}</td>
                            <td class="one-fifth padded">{event.description}</td>
                            <td class="one-fifth padded">{event.createdDate}</td>
                        </tr>
                    </template>
                </table>
            </div>
        </template>
    </div>
</template>