* {
  background-color: black;
  font-family: "Inconsolata", sans-serif;
  color: white;
}

button:focus {
  outline: 0;
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url(https://fonts.gstatic.com/s/inconsolata/v18/QldKNThLqRwH-OJ1UHjlKGlZ5qhExfHw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.analytics-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.analytics-wrapper button {
  cursor: pointer;
  margin: 30px;
}
.analytics-wrapper h1.loading-text {
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.analytics-wrapper h3 {
  font-size: 24px;
  margin: 40px 0 20px 0;
}
.analytics-wrapper .limited-height {
  height: 400px;
  overflow: scroll;
}
.analytics-wrapper .less-limited-height {
  height: 800px;
  overflow: scroll;
}
.analytics-wrapper .info-table {
  width: 100%;
  margin: 20px 0 20px 0;
}
.analytics-wrapper .info-table th {
  font-weight: bold;
}
.analytics-wrapper .info-table .borders {
  border-bottom: 0.5px solid black;
}
.analytics-wrapper .info-table .padded {
  padding: 5px;
}
.analytics-wrapper .info-table .half-width {
  width: 50%;
}
.analytics-wrapper .info-table .four-tenths {
  width: 40%;
}
.analytics-wrapper .info-table .three-tenths {
  width: 30%;
}
.analytics-wrapper .info-table .one-quarter {
  width: 25%;
}
.analytics-wrapper .info-table .one-fifth {
  width: 20%;
}