.THIS {  
}

.THIS .u-color-ebony{
    font-weight: bold;
}

.THIS .slds-text-sizing{
    font-size: 36px;
}

.THIS .next-button{
    margin-top : 15px;
    min-height: 300px;
}


.THIS .link{
    text-decoration: none;
    color: white;
}

.THIS .c-btn-rounded--turquoise {
    background-color: #70BAB6;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.1em;
    padding: 10px 20px;
    margin-right: 15px;
    border-style: none;
}

.THIS .c-btn-rounded--turquoise:hover {
    background-color: #538a87;
}



.THIS .c-btn-rounded--turquoise span{
    font-size: 20px;
    color: white;
}