.leaderboard-wrapper {
    margin-right: 1rem;
    padding: 30px;
}

.leaderboard-wrapper.broker-network {
    margin-right: 1rem;
    padding: 30px;
}

.leaderboard-wrapper.top-tip-wrapper {
    height: 346px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 15px;
    margin-bottom: 10px;
}

.tip-content-wrapper {
    height: 150px;
    margin-bottom: 10px;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.tip-content {
    text-align: center;
    font-size: 18px;
    padding: 10px 100px;
    font-weight: bold;
    color: #3EB5D5;
    flex-grow: 1;
}

.button-group {
    text-align: center;
    font-weight: bold;
    color: #3EB5D5;
}

.icon-container {
    display: inline-block;
    background-color: #B8E4FA;
    border-radius: 50%;
    flex: 0 0 40px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    height: 40px;
}

.icon-container:hover {
    background-color: #A4DBF7;
}

lightning-icon {
    margin-top: 8px;
}

.thumbs-up-and-down {
    text-align: center;
}

button.thumbs-button {
    border: 0px;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    background-color: #ebe4dc;
    padding: 8px;
}

button.thumbs-button:hover {
    background-color: #B8E4FA;
    box-shadow: 4px 4px 10px grey;
}

.tip-thanks {
    text-align: center;
    font-size: 14px;
    padding: 10px 100px;
    font-weight: bold;
    color: #3EB5D5;
}

.slds-card {
    border-width: 2px;
}