html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

.terms-agreement-wrapper {
  z-index: 100;
  height: 100%;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-wrapper {
  z-index: 50;
  height: 100%;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 300px;
  width: calc(100vw - 300px);
  height: 100%;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 300px;
  width: calc(100vw - 300px);
  height: 100%;
  background-color: white;
  z-index: 1;
  overflow: scroll;
}

.typeform-share {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.feedback-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: #222930;
  cursor: pointer;
  width: 260px;
  color: white;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
}

.background-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 200%;
  background-color: #222930;
  z-index: -100;
  border: 2px solid red;
}