<template>
    <div if:false={termsAgreed} class="terms-agreement-wrapper">
        <template if:false={currentlyLoading}>
            <c-ix_terms-agreement
                ontermsagreed={handleTermsAgreed}
            ></c-ix_terms-agreement>
        </template>
    </div>
    <div if:true={feedbackFormOpen} class="terms-agreement-wrapper">
        <c-ix_feedback-form
            onclosefeedback={closeFeedbackModal}
        ></c-ix_feedback-form>
    </div>
    <div class="header-wrapper">
        <c-ix_header
            onquicklinkclick={handleQuickLinkClick}
            quick-links-array={quickLinksArray}
        ></c-ix_header>
    </div>
    <template if:true={quickLinksData}>
        <div
            class="overlay-wrapper"
            if:true={overlayOpen}
        >
            <c-ix_link-overlay
                onclosequicklink={handleQuickLinkClick}
                item-data={quickLinksData}
                item-title={quickLinksTitle}
            ></c-ix_link-overlay>
        </div>
    </template>
    <div class="search-wrapper">
        <c-ix_search-box></c-ix_search-box>
    </div>
    <!-- <a class="typeform-share button" href="https://azuruw.typeform.com/to/Zi7xSC" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#313C4B;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:11px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="0" target="_blank">What do you think?</a> -->
    <div
        class="feedback-button"
        onclick={handleOpenFeedback}
    >What do you think?</div>
</template>