<apex:page standardController="IBA_IBAStaging__c" extensions="IBA_CreateOperationalDataBtnController" recordSetVar="stagings"
    action="{!startOperationalDataCreationJob}" lightningStyleSheets="true">
    <apex:pageMessages />
</apex:page>