.loader-wrapper .loader-box {
    background-color: #2c363f;
    max-width: 650px;
    border-radius: 20px;
    margin: 0 auto;
    color: white;
    padding: 30px;
}

.loading-text {
    text-align: center;
    font-size: 24px;
}

.dot {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px auto;
    position: relative;
}

.dot-inner {
    width: 100%;
    height: 100%;
    background-color:#B8E4FA;
    border-radius: 100%;
    animation-name: progress;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,.52,.5,1);
    margin: 0 auto;
    position: absolute;
}

@keyframes progress {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
/* #f2ede7 */