<template>
    <div class="loader-wrapper">
        <div class="loader-box">
            <div class="dot">
                <div class="dot-inner"></div>
            </div>
            <div class="loading-text">
                {progressText}
            </div>
        </div>
    </div>
</template>