<div class="ew-ins-quote-os-clauses-wrapper" ng-controller="insOsQuoteClausesCtrl" ng-if="control.vlcSI[control.itemsKey]" ng-init="initOsQuoteClausesReview(control)">
    <div class="ew-ins-quote-os-clauses-container">

        <div class="ew-ins-quote-os-clauses-card">
            <div class="slds-size--1-of-1 slds-m-bottom--medium">
                <h3><strong>Clauses applicable to this Quote:</strong></h3>
                <p>Please point these out clearly to your customer as they may have changed following this mid term adjustment.</p>
            </div>

            <div class="slds-grid slds-m-bottom--medium ew-ins-quote-os-clauses-line" ng-repeat="p in control.vlcSI[control.itemsKey]">
                <div class="slds-max-small-size--1-of-6 slds-size--1-of-12 slds-m-top--xxx-small ew-ins-quote-os-clauses-line-number"><span>{{$index + 1}}</span></div>
                <div class="slds-max-small-size--5-of-6 slds-size--11-of-12 ew-ins-quote-os-clauses-line-details">
                    <p class="ins-test"><em><strong>{{p.EW_Clause_Name__c}}</strong></em></p>
                    <p style="white-space: pre-line" class="slds-m-bottom--none">{{p.ClauseContent}}</p>
                </div>
            </div>
        </div>
    </div>
</div>