.via-slds {
    .ew-ins-quote-os-clauses-wrapper {
        p {
            margin-bottom: 1rem;
            
            a {
                color: #16325C;
            }
        }
        
        .ew-ins-quote-os-clauses-card {
            border: 1px solid #0070D2;
            background-color: #F8FBFE;
            color: #16325C;
            border-radius: 0.25rem;
            padding: 1.25rem 1.5rem;
            margin-bottom: 1.5rem;
            line-height: 1.4;
            width: 100%;

            .ins-test {
                padding-top: 7px;
            }


            .ew-ins-quote-os-clauses-line {
                font-size: 0.8125rem;

                .ew-ins-quote-os-clauses-line-number {
                    span {
                        width: 1.75rem;
                        height: 1.75rem;
                        display: block;
                        background-color: #0070D2;
                        border-radius: 50%;
                        color: white;
                        text-align: center;
                        line-height: 1.75rem;
                    }
                }
                .ew-ins-quote-os-clauses-line-details {
                    h4 {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}