.THIS a:hover, .THIS a:focus {
    color: inherit;
    text-decoration: none;
}

.THIS .uiContainerManager {
    display: none;
}

.THIS h1, .THIS h2, .THIS h3, .THIS h4, .THIS h5, .THIS h6 {
    font-family: 'FS Elliot',sans-serif;
}

.THIS .siteforceLoadingBalls.global {
    background: transparent;
}

.THIS .siteforceLoadingBalls .loadingBall {
    background-color: #2c363f;
}