<template>
    <div class="carousel-wrapper">
        <c-ew_flash-message></c-ew_flash-message>
        <template for:each={slides} for:item="slide">
            <template if:true={slide.active}>
                <a
                    class="carousel-link"
                    key={slide.cloudx_cms__Title__c}
                    href={slide.cloudx_cms__Button_URL__c}
                    target="_blank"
                >
                    <div style={slide.style} class="slide-wrapper">
                        <h1>{slide.cloudx_cms__Title__c}</h1>
                        <h2>{slide.cloudx_cms__Description__c}</h2>
                    </div>
                </a>
            </template>
        </template>
        <div class="indicators">
            <template for:each={slides} for:item="slide">
                <template if:true={slide.active}>
                    <div
                        key={slide.cloudx_cms__Title__c}
                        class={slide.activeClass}
                        data-value={slide.cloudx_cms__Title__c}
                    ></div>
                </template>
                <template if:false={slide.active}>
                    <div
                        key={slide.cloudx_cms__Title__c}
                        class={slide.class}
                        data-value={slide.cloudx_cms__Title__c}
                        onclick={indicatorClick}
                    ></div>
                </template>
            </template>
        </div>
    </div>
</template>