.carousel-wrapper {
    text-align: center;
    position: relative;
}

h1 {
    letter-spacing: 0.15em;
    font-size: 60px;
    font-weight: 100;
    color: white;
    margin-bottom: 0;
    line-height: 1em;
}

h2 {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }
}

.slide-wrapper {
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid lightgrey;
    margin: 10px;
    cursor: pointer;
}

.indicator.active {
    background-color: #B8E4FA;
    border: 0px;
}