<template>
    <div class="search-ui">
        <svg
            class="magnifying-glass"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
        >
            <title>magnifier</title>
            <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z" color="#FFFFFF"></path>
        </svg>
        <div class="input-wrapper">
            <input
                value={searchBoxValue}
                oninput={dispatchInputChangeEvent}
                placeholder="Search the wording here..."
                class={boxPopulated}
            />
            <div
                class="refresh-button"
                onclick={handleRefresh}
            >
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M10.707 10.5l5.646-5.646c0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0l-5.646 5.646-5.646-5.646c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l5.646 5.646-5.646 5.646c-0.195 0.195-0.195 0.512 0 0.707 0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l5.646-5.646 5.646 5.646c0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146c0.195-0.195 0.195-0.512 0-0.707l-5.646-5.646z"></path>
                </svg>
            </div>
            <div if:true={displaySearchInstruction} class="input-instruction">
                For example: "Claims", "Contents", "Outbuildings", etc.
            </div>
        </div>
        <template if:true={displaySearchResults.length}>
            <ul class="dropdown">
                <div
                    for:each={displaySearchResults}
                    for:item="item"
                    key={item._id}
                >
                <!-- For some reason, data- attributes do not seem to work with
                tags that have children. Hence create a special div with class
                `clickable-area` overlapping the UI element to trigger click
                events. -->
                    <div
                        if:true={item._currentlySelected}
                        class="dropdown-item currently-selected"
                    >
                        <div
                            class="clickable-area"
                            data-value={item._id}
                            onclick={dispatchOptionClickEvent}
                        ></div>
                        <div class="dropdown-content-wrapper">
                            <div
                                class="mini-breadcrumbs"
                            >
                                <span
                                    for:each={item._miniBreadcrumbsArray}
                                    for:item="miniBreadcrumb"
                                    key={miniBreadcrumb}
                                >
                                    <span>
                                        {miniBreadcrumb}
                                    </span>
                                    <svg
                                        class="breadcrumb-chevron"
                                        version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                    >
                                        <title>chevron-right</title>
                                        <path d="M5 20c-0.128 0-0.256-0.049-0.354-0.146-0.195-0.195-0.195-0.512 0-0.707l8.646-8.646-8.646-8.646c-0.195-0.195-0.195-0.512 0-0.707s0.512-0.195 0.707 0l9 9c0.195 0.195 0.195 0.512 0 0.707l-9 9c-0.098 0.098-0.226 0.146-0.354 0.146z"></path>
                                    </svg>
                                </span>
                            </div>
                            <h3>{item._name}</h3>
                        </div>
                    </div>
                    <div
                        if:false={item._currentlySelected}
                        class="dropdown-item not-currently-selected"
                    >
                        <div
                            class="clickable-area"
                            data-value={item._id}
                            onclick={dispatchOptionClickEvent}
                        ></div>
                        <div class="dropdown-content-wrapper">
                            <div
                                class="mini-breadcrumbs"
                            >
                                <span
                                    for:each={item._miniBreadcrumbsArray}
                                    for:item="miniBreadcrumb"
                                    key={miniBreadcrumb}
                                >
                                    <span>{miniBreadcrumb}</span>
                                    <svg
                                        class="breadcrumb-chevron"
                                        version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                    >
                                        <title>chevron-right</title>
                                        <path d="M5 20c-0.128 0-0.256-0.049-0.354-0.146-0.195-0.195-0.195-0.512 0-0.707l8.646-8.646-8.646-8.646c-0.195-0.195-0.195-0.512 0-0.707s0.512-0.195 0.707 0l9 9c0.195 0.195 0.195 0.512 0 0.707l-9 9c-0.098 0.098-0.226 0.146-0.354 0.146z"></path>
                                    </svg>
                                </span>
                            </div>
                            <h3>{item._name}</h3>
                        </div>
                    </div>
                </div>
            </ul>
        </template>
    </div>
</template>