html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/regular.ttf") format("ttf");
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thin.ttf") format("ttf");
  font-weight: thin;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/thinitalic.ttf") format("ttf");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/bolditalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavy.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/heavyitalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/italic.ttf") format("ttf");
  font-style: italic;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/light.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FS Elliot";
  src: url("@salesforce/resourceUrl/fs_elliot/fs-elliot/lightitalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Chilanka";
  src: url("https://fonts.gstatic.com/s/chilanka/v5/WWXRlj2DZQiMJYaYRoJXKdAiZQTP.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  font-family: "FS Elliot", "Helvetica", sans-serif;
}

input {
  outline: none;
}

*:focus {
  outline: none !important;
}

.search-ui {
  width: 100%;
  position: relative;
  padding: 70px;
  min-height: 300px;
}

.magnifying-glass {
  width: 40px;
  height: 40px;
  fill: #FFFFFF;
}

.input-wrapper {
  position: absolute;
  width: calc(100% - 140px);
  height: 100px;
}
.input-wrapper input {
  border: none;
  border-bottom: 3px solid #313C4B;
  width: 100%;
  padding: 3px 0;
  font-size: 64px;
  background: transparent;
  font-weight: 100;
  color: #FFFFFF;
}
.input-wrapper input:hover {
  border-bottom: 3px solid #FFFFFF;
}
.input-wrapper input.box-populated {
  border-bottom: 3px solid #FFFFFF;
}
.input-wrapper input:focus {
  border-bottom: 3px solid #3EB5D5;
}
.input-wrapper ::placeholder {
  color: #313C4B;
}
.input-wrapper .refresh-button {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.input-wrapper .refresh-button svg {
  fill: #FFFFFF;
  width: 100%;
  height: 100%;
}
.input-wrapper .input-instruction {
  color: #313C4B;
  font-size: 20px;
  margin-top: 10px;
}

.dropdown {
  width: 100%;
  margin-top: 120px;
}
.dropdown .dropdown-item {
  background-color: #313C4B;
  cursor: pointer;
  color: #FFFFFF;
  margin: 20px 0;
  border-color: #3EB5D5;
  border-style: solid;
  border-width: 0 0 0 3px;
  font-size: 30px;
  font-weight: 100;
  line-height: 40px;
  position: relative;
}
.dropdown .dropdown-item .dropdown-content-wrapper {
  padding: 20px;
}
.dropdown .dropdown-item .clickable-area {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dropdown .dropdown-item.currently-selected {
  border-color: #FFFFFF;
  background-color: #2C363F;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.dropdown .dropdown-item:hover {
  border-color: #FFFFFF;
  background-color: #2C363F;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.dropdown .dropdown-item.not-currently-selected {
  border-color: #3EB5D5;
}
.dropdown .dropdown-item .mini-breadcrumbs {
  padding: 0 0 5px 0;
  font-size: 16px;
  line-height: 24px;
  color: lightgrey;
}
.dropdown .dropdown-item .mini-breadcrumbs .breadcrumb-chevron {
  fill: lightgrey;
  height: 10px;
  margin: 0 2px;
}
.dropdown .dropdown-item .mini-breadcrumbs :first-child {
  color: #3EB5D5;
  font-weight: bold;
}